<div class="max-w-4xl mx-auto mt-10 px-4">
  <!-- หัวข้อบทความ -->
  <h1 class="text-4xl font-extrabold text-sky-800 mb-8 text-center">
    <%= @article.title %>
  </h1>
  <!-- รูปภาพถ้ามี -->
  <% if @article.cover_image.attached? %>
    <%= image_tag url_for(@article.cover_image), alt: @article.title, class: "w-full h-full object-cover rounded-md mb-8" %>
  <% elsif @article.cover_image.present? %>
    <%= image_tag @article.cover_image, alt: @article.title, class: "w-full h-full object-cover rounded-md mb-8" %>
  <% end %>
  <!-- เนื้อหาบทความ -->
  <div class="prose prose-indigo max-w-none mb-12 mx-auto break-words whitespace-normal">
    <%= simple_format(@article.description) %>
  </div>
  <!-- ปุ่มจัดการบทความ -->
  <div class="flex flex-wrap justify-start gap-6 mb-20">
    <%= link_to "Back to articles", articles_path,
        class: "bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-6 rounded-lg transition" %>
  </div>
</div>